:root {
    --bg1: rgba(0, 0, 0, 0.9);
    --bg2: rgba(255, 255, 255, 0.9);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg1);
}

::-webkit-scrollbar-thumb {
    background-color: beige;
    border-radius: 5px;
}

html {
    box-sizing: border-box;
    margin: none;
    padding: none;
    width: 100vw;
    height: 100vh;
}

.dark-mode {
    background-color: var(--bg1);
    color: var(--bg2) !important;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 2rem;
    font-family: monospace, sans-serif;
    background-color: var(--bg2);
    color: var(--bg1)
}

header {
    z-index: 100;
    width: 100vw;
    overflow: hidden;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    font-size: 1.8rem;
}

.menu,
.side-nav-wrapper,
.sidenav {
    display: none;
    font-size: 1.2em;
}

.thm {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--bg2);
    cursor: pointer;
    text-decoration: none;
}

.fa-sun {
    color: #ffc000;
}

.fa-moon {
    color: #FFA500
}

/* The side navigation menu */
.sidenav {
    min-width: 300px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(12, 12, 12, 0.8);
    overflow-x: hidden;
}

.sidenav-items {
    width: 100% !important;
    padding-bottom: 20px;
}

.side-nav-wrapper.active .sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .welcome {
        font-size: 6.5rem !important;
    }

    .tagline {
        font-size: 4.2rem !important;
    }

    .menu {
        width: auto;
        display: flex;
        align-items: center;
        height: 50px;
        color: var(--bg2);
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .menu:hover {
        color: var(--bg2);
    }

    .acc-sec-right .menu {
        margin: 0 0 0 -5px;
        font-size: 1.1em;
    }

    header {
        overflow: hidden;
    }

    .side-nav-wrapper {
        display: block;
    }

    .nav-bar,
    .nav-items,
    .acc-sec-item {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .welcome {
        font-size: 5.5rem !important;
    }

    .tagline {
        font-size: 3.5rem !important;
    }

    .search {
        display: none !important;
    }
}

@media screen and (max-width: 420px) {

    .welcome {
        font-size: 5.5rem !important;
    }

    .tagline {
        font-size: 3rem !important;
    }

    .body,
    .html {
        width: 100vw;
        overflow: hidden;
    }

    .sidenav {
        overflow: hidden;
        min-width: 100%;
    }

    .slide--2,
    .slide--3,
    .slide--4,
    .slide--5,
    .nav__slide,
    .nav,
    .search {
        display: none !important;
    }

    .side-nav--left,
    .side-nav--right,
    .cont {
        pointer-events: none;
    }
}

.nav-wrapper,
.acc-sec {
    width: 35%;
    height: 100%;
    margin: none;
}

.acc-sec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar,
.acc-sec-right {
    align-items: center;
    width: 100%;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.acc-sec-right {
    justify-content: center;
}

.nav-items,
.acc-sec-item,
.sidenav-items {
    width: 30%;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    color: var(--bg2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.nav-items:hover,
.acc-sec-item:hover,
.sidenav-items:hover {
    background-color: var(--bg2);
    color: var(--bg1);
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.12em;
    font-size: 1.2em;
    cursor: pointer;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 45px;
}

.acc-sec-right {
    width: 30% !important;
}

.acc-sec-item {
    margin-right: 10px;
    width: 100% !important;
}

.search {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid var(--bg2);
    border-radius: 20px;
    padding: 0 5px;
}

input[type="search"] {
    font-size: 0.9em;
    width: 100%;
    background-color: transparent;
    color: var(--bg2);
    border: 0;
    margin: 0 5px;
    padding: 7px 0;
    outline: none;
}

#search-icon {
    color: var(--bg2);
}

/*Sign-In Section */

.modal-sign {
    width: 45%;
    text-align: center;
    font-size: 2rem;
}

.modal-sign p {
    margin: 0;
}

.in {
    padding: 5px 5px;
    background-color: transparent;
    border: 1px solid var(--bg1);
    border-radius: 10px;
}

.fa-solid {
    padding-right: 10px;
    font-size: 2.2rem;
}

.card,
.modal-content {
    border: 0 !important;
}

.a-close {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 5%;
    font-size: 2rem;
    color: var(--bg1);
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}

.a-close:hover {
    color: var(--bg1);
}

.a-close.dark-mode {
    color: var(--bg2);
    background-color: transparent;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 0 20px 0;
}

.in {
    width: 90%;
}

.in.dark-mode {
    border-color: rgba(255, 255, 255, 0.7);
}

.in.dark-mode:focus-visible {
    border-color: rgb(255, 255, 255);
}

.s-btn {
    width: 50%;
    padding: 4px 0;
    background-color: #4169e1;
    font-size: 1.8rem;
    border-color: rgba(0, 0, 0, 0.9);
}

.act {
    text-decoration: none !important;
    color: #4169e1;
    font-weight: 600;
}

.s-btn.dark-mode {
    border-color: rgba(255, 255, 255, 0.9);
}

.si-co {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 100%;
}

.hrr,.si-op p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0 10px 0;
    font-size: 1.8rem;
}

.si-op p{
    margin: 0 0 20px 0;
}
.hrr p {
    margin: 0;
}

hr {
    height: 3px !important;
    background-color: #FF69B4 !important;
    width: 40%;
    display: inline-block;
}

.op {
    margin: 0 25px;
}

.op:hover {
    color: #228B22;
}

/*page section css*/

.wel-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    font-style: oblique;
    font-size: 5rem;
}

.welcome,
.faqhead {
    text-align: center;
    font-size: 8rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.faqhead {
    font-size: 7rem !important;
    padding-top: 45px;
    padding-bottom: 20px;
}

.wel-logo {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.page-section-1 {
    padding: 50px 0 0 0;
    height: 100%;
    width: 100vw;
    margin: none;
}

.faq {
    width: 100vw;
    margin: none;
}

.cont {
    position: relative;
    height: 93vh;
}

.slider {
    position: relative;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    color: var(--bg2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider.animation {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__darkbg {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__text {
    transition: transform 750ms ease-in-out;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide--1 {
    left: 0%;
}

.slide--2 {
    left: 100%;
}

.slide--3 {
    left: 200%;
}

.slide--4 {
    left: 300%;
}

.slide--5 {
    left: 400%;
}

.slide__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
}

.slide__text-wrapper {
    font-family: monospace;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.slide__letter {
    display: none;
}

.slide__text {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    z-index: 2;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide--1__darkbg {
    left: 0%;
    background: url("./images/newdelhi.jpg") center center no-repeat;
}

.slide--2__darkbg {
    left: -50%;
    background: url("./images/mumbai.jpg") center center no-repeat;
}

.slide--3__darkbg {
    left: -100%;
    background: url("./images/agra.jpg") center center no-repeat;
}

.slide--4__darkbg {
    left: -150%;
    background: url("./images/darjeeling.jpg") center center no-repeat;
}

.slide--5__darkbg {
    left: -200%;
    background: url("./images/rameshwaram.jpg") center center no-repeat;
}

.nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 10;
}

.nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--bg2);
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .nav__slide {
        width: 22px;
        height: 22px;
    }
}

.nav__slide:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.nav__slide:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: var(--bg2);
    opacity: 0;
    transition: 300ms;
}

.nav__slide--1 {
    margin-left: 0;
}

.nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.side-nav {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 100vh;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.side-nav:hover {
    opacity: 0.1;
}

.side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.accordion-item {
    width: 60%;
    margin: 0 auto;
    font-size: 1.6rem;
    border: 2px solid rgba(12, 12, 12, 0.8) !important;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 1px grey;
    border-radius: 10px !important;
    background-color: transparent !important;
}

.chn.accordion-item {
    box-shadow: 0 0 2px 1px white;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: inset 0 -1.5px 0 skyblue !important;
    color: inherit !important;
}

.chn.accordion-button::after {
    background-color: white;
    border-radius: 3px;
    padding: 2px;
}

.accordion-button {
    color: var(--bg1);
    background-color: transparent !important;
    font-size: 1.6rem !important;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts {
    display: flex;
    justify-items: flex-end;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3.5rem;
    margin: 20px 0 40px 0;
}

.co {
    width: 10%;
    text-align: center;
}

.co i {
    cursor: pointer;
}

.co i:hover {
    color: #4169E1;
}

.copyright {
    height: 60px;
    width: 100vw;
    background-color: var(--bg1);
    color: var(--bg2);
    text-align: center;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid grey;
}