:root {
    --bg1: black;
    --bg2: white;
}

html,
body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(54, 69, 79, 0.8);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

html {
    box-sizing: border-box;
    margin: none;
    padding: none;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 18px;
    font-family: monospace, sans-serif;
}

header {
    z-index: 100;
    width: 100vw;
    overflow: auto;
    display: flex;
    background-color: var(--bg1);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
}

.menu,.side-nav-wrapper,.sidenav {
    display: none;
    font-size: 1.2em;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgba(12,12,12,0.8);
    overflow-x: hidden;
}

.sidenav-items {
    width: 100% !important;
    padding-bottom: 20px;
}

.side-nav-wrapper.active .sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .menu {
        display: grid;
        align-items: center;
        height: 50px;
        color: white;
        margin-left: 10px;
    }

    header {
        overflow-y: hidden;
    }

    .side-nav-wrapper {
        display: block;
    }

    .nav-bar,
    .nav-items {
        display: none;
    }
}

.nav-wrapper,
.acc-sec {
    width: 35%;
    height: 100%;
    margin: none;
}

.acc-sec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar,
.acc-sec-right {
    align-items: center;
    width: 100%;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items,
.acc-sec-item,.sidenav-items {
    width: 30%;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    color: var(--bg2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.nav-items:hover,
.acc-sec-item:hover,.sidenav-items:hover {
    background-color: var(--bg2);
    color: var(--bg1);
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.11em;
    font-size: 1.1em;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 40px;
}

.acc-sec-right {
    width: 30% !important;
}

.acc-sec-item {
    width: 100% !important;
}

.search {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid white;
    border-radius: 20px;
    padding: 3px 5px;
}

input[type="search"] {
    font-size: 0.85em;
    width: 100%;
    background-color: var(--bg1);
    color: var(--bg2);
    border: 0;
    margin: 0 5px;
    padding: 7px 0;
    outline: none;
}

#search-icon {
    color: var(--bg2);
}

/*page section css*/

.page-section-1 {
    padding: 50px 0 0 0;
    height: 100%;
    width: 100%;
    margin: none;
}

.cont {
    position: relative;
    height: 93vh;
}

.slider {
    position: relative;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider.animation {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__darkbg {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__text {
    transition: transform 750ms ease-in-out;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide--1 {
    left: 0%;
}

.slide--2 {
    left: 100%;
}

.slide--3 {
    left: 200%;
}

.slide--4 {
    left: 300%;
}

.slide--5 {
    left: 400%;
}

.slide__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
}

.slide__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.slide__letter {
    display: none;
}

.slide__text {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    z-index: 2;
    color: #fff;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide--1__darkbg {
    left: 0%;
    background: url("./images/newdelhi.jpg") center center no-repeat;
}

.slide--2__darkbg {
    left: -50%;
    background: url("./images/mumbai.jpg") center center no-repeat;
}

.slide--3__darkbg {
    left: -100%;
    background: url("./images/agra.jpg") center center no-repeat;
}

.slide--4__darkbg {
    left: -150%;
    background: url("./images/darjeeling.jpg") center center no-repeat;
}

.slide--5__darkbg {
    left: -200%;
    background: url("./images/rameshwaram.jpg") center center no-repeat;
}

.nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 10;
}

.nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .nav__slide {
        width: 22px;
        height: 22px;
    }
}

.nav__slide:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.nav__slide:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: 300ms;
}

.nav__slide--1 {
    margin-left: 0;
}

.nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.side-nav {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.side-nav:hover {
    opacity: 0.1;
}

.side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}